<%- include('partials/header.ejs'); -%>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">

                </div>
            </div>
            <h1>
                <%= postTitle %>
            </h1>
            <p>
                <%= postBody %>
            </p>
            <p>
                <%= postDate %>
            </p>
            <p>
                <%= postReadDuration %> min Read
            </p>
        </div>
    </section>
<%- include('partials/footer.ejs'); -%>